Repository spn-one22/chat_test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-job, docker-build

test-job:
  stage: test
  image: node:20
  script:
  - echo "Устанавливаем зависимости..."
  - npm install
  - echo "Проверяем, что проект собирается"
  - npm run build || echo "Временная проверка — билд пока не обязателен"

docker-build:
  stage: build
  image: docker:20.10
  services:
  - docker:dind
  script:
  - echo "Собираем Docker-образы..."
  - docker compose build

test pipeline
  README.md
Due: none

Update README.md
  README.md
Due: none

edit CI yaml
  .gitlab-ci.yml
Due: test-job

trigger CI
  test
Due: none

trigger CI
  .gitlab-ci.yml
Due: test-job

edit gitlab-ci.yml
  .gitlab-ci.yml
Due: test-job

add badge latest pipeline
  README.md
Due: none

bat for open in CLI
  Open_in_PS.bat
Due: none

change ablolute path to a relative one
  docker-compose.yml
Due: docker-build

update dashboard json file
  grafana/provisioning/dashboards/System metrics-1758025054230.json
  test
Due: docker-build

update docker compose
  docker-compose.yml
Due: docker-build

backend listener template
  JMeter_Projects/Test_plans/Backend Listener.jmx
Due: none

add JDBC test
  JMeter_Projects/Test_plans/JDBC test.jmx
Due: none

update JDBC test
  JMeter_Projects/Test_plans/JDBC test.jmx
Due: none

update jdbc test
  JMeter_Projects/Test_plans/JDBC test.jmx
Due: none

add csv for jdbc test
  JMeter_Projects/CSV_FILES/jmeter_db_test.csv
Due: none

edit testplan
  JMeter_Projects/Test_plans/JDBC test.jmx
Due: none

update datasourse.yaml
  grafana/provisioning/datasources/datasource.yaml
Due: docker-build

modified datasource.yaml
  grafana/provisioning/datasources/datasource.yaml
Due: docker-build

update dashboards
  grafana/provisioning/dashboards/JMeter metrics-1758314154668.json
  grafana/provisioning/dashboards/MySQL Metrics-1758313856059.json
  grafana/provisioning/dashboards/System metrics-1758313762148.json
Due: docker-build

update jdbc testplan
  JMeter_Projects/Test_plans/JDBC test.jmx
Due: none

Update API.md
  API.md
Due: none

Mod jdbc test plan
  JMeter_Projects/Test_plans/JDBC test.jmx
Due: none

gen package-lock.json by npm install
  package-lock.json
Due: test-job

update Dockerfile
  Dockerfile
Due: docker-build

add prometheus container
  docker-compose.yml
Due: docker-build

update package.json (add prom-client)
  package.json
Due: test-job

add /metrics endpoint
  server.js
Due: none

add prometheus datasource
  grafana/provisioning/datasources/datasource.yaml
Due: docker-build

add prometheus dir + .yml
  prometheus/prometheus.yml
Due: none

fix import
  server.js
Due: none

add NODEjs metrics
  grafana/provisioning/dashboards/nodejs_prometheus_grafana_dashboard.json
Due: docker-build

fix problem with endpoint
  server.js
Due: none

setup prometheus dashboard
  grafana/provisioning/dashboards/Node.js — Prometheus (App Internals)-1758742728480.json
Due: docker-build

fix percentiles metric problem
  grafana/provisioning/dashboards/JMeter metrics-1758747733962.json
Due: docker-build

Path conditions:
  test-job: any of: app/**/*, package.json, package-lock.json, .gitlab-ci.yml
  docker-build: any of: Dockerfile, docker-compose.yml, grafana/**/*, telegraf/**/*, app/**/*
